* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    transition: all .2s ease-in-out;
}

.bg-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg,  hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);
}

.main-container {
    border-radius: 30px;
    height: 70vh;
    width: 75%;
    background-color: #fff;
    overflow: hidden;
}

.images-section {
/*    border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.img-container-div{
    position: relative;
/*    border: 1px solid violet; */
   justify-content: center;
}

.woman-bg-desk {
/*     border: 1px solid green; */
    position: relative;
    width: 115%;
    left: -18%;
    max-height: 80%;
    max-width: 118%;
    z-index: 1;
}

.shadow-woman-img {
    position: absolute;
    width: 200%;
/*     border: 1px solid red; */
    bottom: -50%;
    right: 3%;
}

.box-container-section {
    position: absolute;
    bottom: 30%;
/*     border: 1px solid; */
    z-index: 1;
    left: 5%;
}

.box-container-section img {
    width: 150px;
}

.faq-section {
    width: 45%;
    float: right;
    height: 100%;   
    justify-content: center;
}

.faq-title {
    font-size: 2rem;
}

.faq-container {
    width: 80%;
    height: 55%;
    justify-content: space-around;
}

.faq-container p {
    font-size: 13px;
}

.hidden {
    display: none;
    transition: all .5s ease-in-out;
}

.faq-question {
    color: hsl(237, 12%, 33%);   
    cursor: pointer;
}

.faq-question span {
    float: right;
}

.faq-question span img{
    vertical-align: middle;
}

.question-open {
    transform: rotate(180deg);
    transition: all .5s ease-in-out;
}


.question-open-text {
    transition: all .2s ease-in;
    color: black;
    font-weight: 700;
}

.answer p {
    margin-top: 10px;
    line-height: 20px;
    width: 95%;
    color: hsl(240, 6%, 50%);
}

.image-mobile-section {
    display: none;
}

@media (max-height: 678px) and (min-width: 1150px){
    .woman-bg-desk {
        max-height: 50vh;
        width: auto;
    }

    .shadow-woman-img {
        max-height: 106vh;
        width: auto;
        right: 18%;
    }
}

@media(min-width: 799px) and (max-width: 1150px) {
    .faq-container {
        width: 95%;
    }
}

@media (min-width: 1200px) {
    .faq-section {
        width: 50%;
    }
}